*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
}

.mainNav{
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    margin-top: 20px;
    padding-top: 5px;
    
}

.navs a{
    text-decoration: none;
    color: #0B2F4B;
    font-weight: 700;
}

.navs li{
    display: inline-block;
    width: 100px;
}

.siteLogo{
    width: 20%;
    float: left;
    padding-left: 50px;
}

.navCont{
    width: 50%;
    float: right;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hireMeCont{
    padding-right: 50px;
    text-align: right;
    padding-top: 10px;
    width: 20%;
    float: right;
}

#hireMe{
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0B2F4B;
    color: white; 
}

#hireMe:hover{
    background-color: white;
    border: 2px solid #0B2F4B;
    color: #0B2F4B;
    cursor: pointer;
}

.active{
    text-align: center;
    padding-bottom: 5px;
    border-bottom: solid 2px;
    border-color: red;
}

.active a{
    color: red;
}

.navs li:hover{
    padding-bottom: 5px;
    border-bottom: solid 2px;
    border-color: red; 
}

.navs a:hover{
    color: red;
}

.main img{
    width: 100%;
}

.mainText{
    /* background-color: RED; */
    width: 50%;
    text-align: left;
    position: absolute;
    top: 400px;
    text-align: left;
    line-height: 80px;
    float: right;
    padding-left: 900px;
}

.mainText h1{
    font-size: 90px;
    color: white;
}

.mainText h3{
    font-size: 30px;
    color: white;
}

/* .welcome{
    font-size: 130px;
} */

.mainText button{
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    width: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    color: #0B2F4B;
}

.mainText button:hover{
    cursor: pointer;
    background-color: #0B2F4B;
    border: 2px solid white;
    color: white;
}

.sec2{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    background-color: red;
}

.sec2Items{
    width: 45%;
    float: right;
    text-align: justify;
}

.iFrameCont{
    width: 52%;
    float: left;
}

.sec2Items p{
    font-size: 20px;
    margin-bottom: 30px;
}

.sec2Items li{
    line-height: 30px;
    font-size: 20px;
    list-style: square;
    margin-left: 20px;;
}

.sec3{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
    margin: auto;
    background-color: #0B2F4B;
    margin-top: 600px;
    margin-bottom: 80px;
}

.sec3 h1, .sec3 p{
    text-align: center;
    color: white;
    line-height: 30px;
}

.sec3Form{
    background-color: white;
    width: 30%;
    margin: auto;
    margin-top: 20px;
    padding: 100px 30px 100px 30px;
}

.nameInput input, .telInput input, .emailInput input, .messageInput input{
    width: 80%;
    padding: 10px;
    background-color: lightgray;
    border: none;
}

.messageInput input{
    height: 130px;
}

.formCont{
    width: 95%;
    margin: auto;
}

footer{
    bottom: 0%;
    margin-top: 0px;
    background-color: #0B2F4B;
    color: white;
    text-align: center;
    padding: 20px;
}

